html,
body,
menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

hr {
  border: none;
}
